<form method="POST" action="/tackle-boxes/<%=@tackle_box.id%>/edit">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <h3>Rename Your Tackle Box</h3>
  <input type="text" name="name" value="<%=@tackle_box.name%>">
  <input type="submit" value="submit">
</form>