<form method="POST" action="/tackle-boxes/<%=@tackle_box.id%>/lures/new">
  <h4>Name:<input type="text" id="name" name="name"></h4>
  <h4>Manufacturer:<input type="text" id="manufacturer" name="manufacturer"></h4>
  <input type="submit" value="submit">
</form>