<p><%=@lure.name%></p>
<form method="POST" action="/tackle-boxes/<%=@tackle_box.id%>/lures/<%=@lure.id%>/edit">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="name" value="<%=@lure.name%>">
  <input type="submit" value="submit">
</form>